<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<!--<html xmlns="http://www.w3.org/1999/xhtml">-->
<!--<head>-->
<!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />-->
<!--<title>Untitled Document</title>-->
<!--</head>-->
{% extends 'userindex.html' %}
{% block body %}
<script>
  function chnge(qty)
  {
var price=document.getElementById("hid").value
var tot=price*qty
document.getElementById("amt").value=tot

  }
</script>
<body>
<form id="form1" name="form1" method="post" action="/book1">
  <table id="customers">
    <tr>
      <th scope="row">Quantity </th>
      <td><label>
        <input type="text" name="textfield"  required onkeyup="chnge(this.value)"/>
      </label></td>
    </tr>
    <input type="hidden" name="hid" id="hid" value="{{price}}">
    <tr>
      <th scope="row">amount</th>
      <td><label>
        <input type="number" name="textfield2" readonly  id="amt"/>
      </label></td>
    </tr>

    <tr>
      <th colspan="2" scope="row"><label>
        <input type="submit" name="Submit" value="Book" />
      </label></th>
    </tr>
  </table>
</form>
</body>
<!--</html>-->
{% endblock %}